  <!--center ################################################################ -->
  <div class="col-sm-6" id="listagem">
    <!-- ************* coluna central ******************-->
    <%= render 'listagem' %>
  </div>